<%- include('header.ejs') %>

<body>
    <%- include('sideBarMenu.ejs') %>

    <div id="main">
        <button class="btn btn-outline-dark openbtn mb-4" onclick="openNav()">&#9776; Menu</button>
        <div class="container-fluid"></div>
        <div class="col-lg-9 mx-auto text-center">
            <h1 class="mb-2">Wybierz przygotowany przez nas set treningowy</h1>
            <div class="row text-center">
                <% for(var i=0;i<set_id.length;i++){ %>
                <div class="card m-2 mx-auto bg-light" style="width: 21rem;">

                    <img src="<%=setPhoto[i]%>" class="card-img-top p-5 img-fluid" alt="Ikony sportowe">
                    <div class="card-body">
                        <h5 class="card-title"><%= set_name[i] %></h5>
                        <p class="card-text"><%=set_desc[i]%></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Czas trwania treningu: <%=set_dur[i]%></li>
                        <li class="list-group-item">Liczba spalonych kalorii: <%=kcal[i]%></li>

                    </ul>
                    <div class="card-body">
                        <a href="/home/sets/list?id=<%= set_id[i] %>" class="btn btn-warning mx-auto"
                            value="<%= set_id[i] %>">Zobacz ćwiczenia
                        </a>
                    </div>
                </div>
                <%}%>
                    
                
            </div>
        </div>

  <%- include('footer.ejs') %>
</body>

</html>