<%- include('header.ejs') %>

<body>
    <%- include('sideBarMenu.ejs') %>

    <div id="main">
        <button class="btn btn-outline-dark openbtn" onclick="openNav()">&#9776; Menu</button>
        <div class="col-lg-9 mx-auto">
            <div class="row text-center">
                <h1 class="mx-auto">Nazwa zestawu ćwiczeń</h1>
            </div>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Ćwiczenie</th>
                        <th scope="col">Ilość powtórzeń</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0;i<names.length;i++){ %>
                    <tr>
                        <th scope="row"><%= i+1 %></th>
                        <td><%= names[i] %></td>
                        <td><%= rep[i] %></td>
                        <td> <a href="/home/excercises/ex?id=<%= ex_id[i] %>" class="btn btn-warning" value="<%= ex_id[i] %>">Zobacz Ćwiczenie</a></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

        <a id='buttonStart' href="/home/sets/start?id=<%= set_id %>" class="btn btn-warning" value="<%= set_id[i] %>">Rozpocznij</a>
        <script>
            var btn="<%= button %>"
            if (btn){
                document.getElementById('buttonStart').style.display=''
            }
            else{
                document.getElementById('buttonStart').style.display='none'
            }
        </script>
    </div>
    <%- include('footer.ejs') %>

</body>

</html>