<%- include('header.ejs') %>

<body>
    <%- include('sideBarMenu.ejs') %>

    <div id="main">
        <button class="btn btn-outline-dark openbtn mb-4" onclick="openNav()">&#9776; Otwórz menu</button>
        <div class="container-fluid"></div>
            <div class="col-sm-9 mx-auto">
            <div class="text-center">
                <h1>Historia treningów</h1>
            </div>
            <table class="table" style="background-color: rgba(202, 200, 200, 0.815);">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Aktywność</th>
                    <th scope="col">Czas trwania</th>
                    <th scope="col">Kalorie</th>
                    <th scope="col">Data</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i=0;i<act.length;i++){ %>
                    <tr>
                        <th scope="row"><%= i+1 %></th>
                        <td>
                            <img src="/images/activity_icons/<%=img[i]%>.png" style="width: 30px;" class="mr-3">
                            <%= act[i] %>
                        </td>
                        <td><%= duration[i] %></td>
                        <td>500 kcal</td>
                        <td><%= date[i] %></td>
                    </tr>
                    <%}%>
                </tbody>
            </table>
            </div>
        </div>
    </div>

  <%- include('footer.ejs') %>
  </body>
</html>