<%- include('header.ejs') %>

<body>
    <%- include('sideBarMenu.ejs') %>

    <div id="main">
        <button class="btn btn-outline-dark openbtn mb-4" onclick="openNav()">&#9776; Menu</button>
        <div class="container-fluid"></div>
        <div class="col-sm-9 mx-auto">
            <div class="text-center">
                <h1>Historia treningów</h1>
            </div>
            <table class="table" id="historyTable" style="background-color: rgba(202, 200, 200, 0.815); display: none;">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Aktywność</th>
                        <th scope="col">Czas trwania</th>
                        <th scope="col">Kalorie</th>
                        <th scope="col">Data</th>
                        <th scope="col">Usuń</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i=0;i<act.length;i++){ %>
                    <tr id="his">
                        <th scope="row"><%= i+1 %></th>
                        <td>
                            <img src="/images/activity_icons/<%=img[i]%>.png" style="width: 30px;" class="mr-3">
                            <%if(act[i]==null){%>
                            <%='Zestaw treningowy'%>
                            <%}else{%>
                            <%= act[i] %>
                            <%}%>
                        </td>
                        <td><%= duration[i] %></td>
                        <td><%= kcal[i]%> kcal</td>
                        <td><%= date[i] %></td>
                        <td>
                            <a class="btn btn-outline-danger" href="/home/delete-act?id=<%=ids[i]%>">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-x-lg" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
                                    <path fill-rule="evenodd"
                                        d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                    <%}%>
                </tbody>
            </table>
            </div>

             <!--Przygotowane info kiedy nie ma żadnych aktywności-->

            <div id="leniuszek" class="col-lg-8 bg-light mx-auto" style="display: block;">
                <div class="row text-center p-4">
                    <h4 class="mx-auto my-2" id="historyInfo" >Wygląda na to, że twoja historia aktywności na razie jest pusta, aby ją zapełnić przejdź do zakładki "Dodaj aktywność".</h4>
                </div>
                <div class="row">
                    <img src="/images/diff/lazy2.jpg" alt="userPhoto" class="img-fluid mx-auto m-4 mt-5" id="profile_photo" style="width: 400px; height: 400px;">
                </div>
            </div>
        </div>
    </div>
    <script>
       var body= document.getElementsByTagName('tbody')[0].firstElementChild
       if(body){
           document.getElementById('leniuszek').style.display="none"
           document.getElementById('historyTable').style.display=""
       }
    </script>

  <%- include('footer.ejs') %>
</body>

</html>