<%- include('header.ejs') %>

<body>
    <%- include('sideBarMenu.ejs') %>

    <div id="main">
        <button class="btn btn-outline-dark openbtn" onclick="openNav()">&#9776; Menu</button>
        <div class="container-fluid text-center" id="profil_panel">
            <div class="col-lg-9 bg-light mx-auto" style="min-height: 800px;">
                <h1>Informacje o użytkowniku</h1>
                <div class="row">
                        <div class="col">
                            <img src=<%=photo_path %> alt="userPhoto" class="img-fluid mx-auto" id="profile_photo">
                        </div>
                        <div class="col">
                            <ul class="list-group">
                                <li class="list-group-item">Aktualna waga: <%= weight %></li>
                                <li class="list-group-item">Wiek: <%= age %></li>
                                <li class="list-group-item">Wzrost: <%= height %></li>
                            </ul>
                        </div>
                </div>
                <div class="row mt-5">
                    <h3 class="mx-auto mt-5">Wybierz swój awatar</h3>
                </div>
                <script>
                    function addPhoto(id){
                        document.getElementById('photoavatar').value=id
                        return
                    }
                </script>
                <div class="row text-center px-5">
                    <div class="col-lg-9 mx-auto">
                        <% for (var i=0;i<10;i++){ %>
                            <img style="cursor: pointer" class="p-4 mx-auto " src="/images/profil_icons/<%=i+1%>.png" alt="userPhoto" class="img-fluid mx-auto" id="profile_photo" onclick='addPhoto("<%=i+1%>")'>
                        <%}%>
                    </div>
                </div>
                <form method="post" action="/home/profile">
                    <input id='photoavatar' type='hidden' name='avatar'>
                    <button class="btn btn-warning mx-auto" > Zatwierdź </button>
                </form>
            </div>
            
        </div>
    </div>
  <%- include('footer.ejs') %>

  </body>
</html>