<%- include('header.ejs') %>

<body>
    <%- include('sideBarMenu.ejs') %>

    <div id="main">
        <button class="btn btn-outline-dark openbtn" onclick="openNav()">&#9776; Menu</button>
        <div class="container-fluid text-center" id="profil_panel">
            <div class="col-lg-9 bg-light mx-auto" style="min-height: 800px;">
                <h1>Informacje o użytkowniku</h1>
                <div class="row">
                    <div class="col">
                        <img src=<%=photo_path %> alt="userPhoto" class="img-fluid mx-auto" id="profile_photo">
                    </div>

                    <script>
                        function editMode() {
                            var span;


                            var weight = document.getElementById('inputWeight');
                            span = weight.getElementsByTagName('span')
                            weight.removeChild(span[0])
                            var inputWeight = document.createElement('input');
                            inputWeight.setAttribute('name', 'weight');
                            inputWeight.setAttribute('value', '<%= weight %>')
                            inputWeight.setAttribute('type', 'number');
                            inputWeight.setAttribute('class', "form-control");
                            weight.appendChild(inputWeight)



                            var temp = new Date()
                            var month = (temp.getMonth() + 1).toString()
                            var year = temp.getFullYear()
                            var day = temp.getDate().toString();
                            if (day.length == 1)
                                day = '0' + day
                            if (month.length == 1)
                                month = '0' + month;
                            var today = year + '-' + month + '-' + day

                            var age = document.getElementById('inputAge');
                            span = age.getElementsByTagName('span')
                            age.removeChild(span[0])
                            var inputAge = document.createElement('input');
                            inputAge.setAttribute('name', 'age');
                            inputAge.setAttribute('max', today);
                            inputAge.setAttribute('value', '<%= birth %>')
                            inputAge.setAttribute('type', 'date');
                            inputAge.setAttribute('class', "form-control");
                            age.appendChild(inputAge)

                            var height = document.getElementById('inputHeight');
                            span = height.getElementsByTagName('span')
                            height.removeChild(span[0])
                            var inputHeight = document.createElement('input');
                            inputHeight.setAttribute('name', 'height');
                            inputHeight.setAttribute('value', '<%= height %>')
                            inputHeight.setAttribute('type', 'number');
                            inputHeight.setAttribute('class', "form-control");
                            height.appendChild(inputHeight)



                            var div = document.createElement(div);
                            div.setAttribute('class', "input-group mb-3")
                            var goal = document.getElementById('inputGoal');
                            span = goal.getElementsByTagName('span')
                            goal.removeChild(span[0])
                            var inputGoal = document.createElement('input');
                            inputGoal.setAttribute('name', 'hours');
                            inputGoal.setAttribute('placeholder', 'godziny');
                            inputGoal.setAttribute('value', '<%=goal%>'.split(':')[0])
                            inputGoal.setAttribute('type', 'number');
                            inputGoal.setAttribute('class', "form-control");
                            var inputGoalMin = document.createElement('input');
                            inputGoalMin.setAttribute('name', 'minutes');
                            inputGoalMin.setAttribute('placeholder', 'minuty');
                            inputGoalMin.setAttribute('value', '<%=goal%>'.split(':')[1])
                            inputGoalMin.setAttribute('type', 'number');
                            inputGoalMin.setAttribute('class', "form-control");
                            div.appendChild(inputGoal)
                            div.appendChild(inputGoalMin)

                            goal.appendChild(div)

                            var button = document.createElement('input')
                            button.setAttribute('type', 'submit')
                            button.setAttribute('class', "btn btn-warning mx-auto px-5")
                            button.innerHTML = 'Zatwierdź'
                            document.getElementById('buttonPlace').removeChild(document.getElementById('editButton'))
                            document.getElementById('buttonPlace').appendChild(button)

                            return
                        }
                    </script>


                    <div class="col">
                        
                        <form id='formularz' method="post" action="/home/profile/info">
                            <table class="table">
                                <tr>
                                    <td> Waga (kg):</td>
                                    <td id='inputWeight'><span><%= weight %></span></td>
                                </tr>
                                <tr>
                                    <td> Wiek:</td>
                                    <td id='inputAge'> <span><%= age %></span></td>
                                </tr>
                                <tr>
                                    <td>Wzrost (cm):</td>
                                    <td id='inputHeight'><span><%= height %></span></td>
                                </tr>
                                <tr>
                                    <td>Tygodniowy cel: </td>
                                    <td id='inputGoal'><span><%= goal %></span></td>
                                </tr>
                                <tr>
                                    <td colspan="2" id='buttonPlace'><button class="btn btn-warning mx-auto px-5"
                                            type='button' id='editButton' onclick="editMode()">Edytuj</button>
                                    </td>
                                </tr>
                            
                            </table>
                     </form>
                    </div>
                </div>

                <div class="row text-center">
                    <p class="mx-auto">
                        <button class="btn btn-outline-dark mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                          <span class="mr-2"> Informacje o tygodniowym celu treningowym </span> 
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                          </svg>
                        </button>
                      </p>
                      <div class="collapse" id="collapseExample">
                        <div class="card card-body px-5">
                          Cel treningowy to ilość godzin, która ma zostać poświęcona na trening. Możesz go zmienić w każdej chwili edytując informacje o użytkowniku. Gdy ustalisz cel
                          będzie on również widoczny w wykresie ilustrującym twoje aktywności.
                        </div>
                      </div>
                </div>

                <div class="row mt-2 border-top">
                    <h3 class="mx-auto mt-5">Wybierz swój awatar</h3>
                </div>
                <script>
                    function addPhoto(id) {
                        var input = document.getElementById('photoavatar').value
                        if (input) {
                            var past = document.getElementsByName("p" + input)
                            past[0].style.border = 'none'
                        }
                        var cur = document.getElementsByName("p" + id)
                        cur[0].style.border = 'solid'
                        document.getElementById('photoavatar').value = id
                        return
                    }
                </script>

                <div class="row text-center px-5">
                    <div class="col-lg-9 mx-auto">
                        <% for (var i=0;i<10;i++){ %>
                        <img style="cursor: pointer" class="p-4 mx-auto " src="/images/profil_icons/<%=i+1%>.png"
                            alt="userPhoto" class="img-fluid mx-auto" id="profile_photo" name='p<%=i+1%>'
                            onclick='addPhoto("<%=i+1%>")'>
                        <%}%>
                    </div>
                </div>
                <form method="post" action="/home/profile">
                    <input id='photoavatar' type='hidden' name='avatar' required>
                    <button class="btn btn-warning mx-auto mb-3 px-5" > Zatwierdź </button>
                </form>
            </div>
            
        </div>
    </div>
  <%- include('footer.ejs') %>

</body>

</html>