<%- include('header.ejs') %>

<body>
    <%- include('sideBarMenu.ejs') %>
    <div id="main">
        <button class="btn btn-outline-dark openbtn" onclick="openNav()">&#9776; Menu</button>
        <script src="https://cdn.plot.ly/plotly-2.4.2.min.js"></script>
        <div class="container-fluid">
            <div class="col-lg-9 bg-light mx-auto text-center" style="min-height: 800px;">
                    <h1 class="mx-auto">Miesięczne podsumowanie aktywności</h1>
                
                <div>
                    <h3 class="text-uppercase"><%= month %></h3>
                    <form action="/home/progress" method="post">
                        <input id='date' type="month" name='month' class="my-3" required>
                        <button type="submit" class=" btn btn-dark my-3"> Wybierz </button>
                    </form>
                </div>
                <script>
                    var temp=new Date()
                    var today=temp.getFullYear().toString()+'-'+(temp.getMonth()+1).toString();
                    document.getElementById('date').setAttribute('max',today)
                  </script>
                <div class="row text-center">
                    <div class="col mx-0">
                        <div id="pie" class="m-2"></div>
                    </div>
                    <div class="col mx-0">
                        <div id="bar" class="m-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        var layoutPie = { // zmiana rozmiaru wykresu
            height: 400,
            width: 500
        };
        pieChart = document.getElementById('pie');
        const x1 = "<%= x1 %>".split(',')
        const y1 = "<%= y1 %>".split(',')
        var d = [{
            values: y1,
            labels: x1,
            type: 'pie'
        }]

        Plotly.newPlot(pieChart, d, layoutPie);

        barChart = document.getElementById('bar');
        const x2 = "<%= x2 %>".split(',').map(function (item) {
            return parseInt(item, 10);
        });
        const y2 = "<%= y2 %>".split(',').map(function (item) {
            return parseInt(item, 10);
        });
        const labels = "<%= labels %>".split(',').map(time => '2020-01-08 ' + time);
        const goal = "2020-01-08 " + "<%= goal %>"

        const goals = []
        for (var i = 0; i < x2.length; i++) {
            goals.push(goal)
        }
        var layoutBar = {
            height: 400,
            width: 500,
            yaxis: {
                tickformat: '%H:%M:%S',
                title: 'Czas'
            },
            xaxis: {
                dtick: 1,
                title: 'Numer tygodnia'
            },
            legend: {
                "orientation": "h",
                x: 0.5,
                y: 1.2
            }
        };
        Plotly.newPlot(barChart, [{
                x: x2,
                y: labels,
                name: 'zapisane aktywności',
                type: 'bar'
            },
            {
                x: x2,
                y: goals,
                name: 'Tygodniowy cel',
                type: 'scatter'
            }
        ], layoutBar)
    </script>
    </div>
    <%- include('footer.ejs') %>
</body>

</html>