<%- include('header.ejs') %>

<body>
    <%- include('sideBarMenu.ejs') %>
    <button class="btn btn-outline-dark openbtn" onclick="openNav()">&#9776; Otwórz menu</button>
    <div>
    <script src="https://cdn.plot.ly/plotly-2.4.2.min.js"></script>
    <div id="pie"></div>
    <div id="bar"></div>


    <script>
        var layoutPie = { // zmiana rozmiaru wykresu
            height: 400,
            width: 500
        };
        pieChart = document.getElementById('pie');
        const x1 = "<%= x1 %>".split(',')
        const y1 = "<%= y1 %>".split(',')
        var d = [{
            values: y1,
            labels: x1,
            type: 'pie'
        }]

        Plotly.newPlot(pieChart, d, layoutPie);


        var layoutBar = {
            height: 400,
            width: 500,
            xaxis: {
                ticks: 'outside',
                dtick: 1
            },
            yaxis: {
                dtick: 1
            }
        };
        barChart = document.getElementById('bar');
        const x2 = "<%= x2 %>".split(',')
        const y2 = "<%= y2 %>".split(',')
        Plotly.newPlot(barChart, [{
            x: x2,
            y: y2,
            type: 'bar'
        }], layoutBar)
    </script>
    </div>
    <%- include('footer.ejs') %>
</body>

</html>