<%- include('header.ejs') %>

<body>
    <%- include('sideBarMenu.ejs') %>

    <div id="main">
        <button class="btn btn-outline-dark openbtn mb-4" onclick="openNav()">&#9776; Menu</button>
        <div class="container-fluid"></div>
            <div class="col-lg-9 mx-auto text-center my-auto">
                <h1 class="mt-3"><%= texth1 %></h1>
                <div class="row text-center">
                    <%for (var i=0;i<set_id.length ; i++) { %>
                        <div class="card m-2 mx-auto bg-dark" style="width: 23rem; color: aliceblue;">
                           
                            <div class="card-body">
                                <h5 class="card-title"><%= set_name[i] %></h5>
                            </div>
                            <ul class="list-group list-group-flush" >
                                <li class="list-group-item" style="background-color: rgb(43, 43, 43);">Czas trwania treningu: <%= set_dur[i] %></li>
                                <li class="list-group-item" style="background-color: rgb(43, 43, 43);">
                                    Autor: 
                                    <img src="<%= img[i] %>" style="width: 30px;" class="mx-2">
                                    <%= set_author[i] %>
                                </li>
                                <li class="list-group-item" style="background-color: rgb(43, 43, 43);"><%= kcal[i] %> kcal</li>
                                <li class="list-group-item" style="background-color: rgb(43, 43, 43);"><span><%= set_desc[i] %></span></li>
                              </ul>
                            <div class="card-body">
                                <a href="/home/sets/list?id=<%= set_id[i] %>" class="btn btn-warning" value="<%= set_id[i] %>">Zobacz ćwiczenia</a>
                            </div>
                        </div>
                        <%}%>
                </div>
            </div>
        </div>

  <%- include('footer.ejs') %>
  </body>
</html>